* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    background-color: lightgrey; /* background */
}

/* center on page */
ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
}

ul li {
    list-style: none; /* remove bullet points */
}

/* main button style */
ul li a {
    width: 80px;
    height: 80px;
    background-color: white;
    text-align: center;
    line-height: 80px; /* center icon */
    font-size: 55px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid white;    
    z-index: 1;
}

ul li a .icon {
    position: relative;
    color: #262626; /* social icon color */
    transition: .5s;
    z-index: 3;
}

/* color and spin on hover */
ul li a:hover .icon {
    color: white;
    transform:rotateY(360deg);
}

ul li a:before {
    content: "";
    position: absolute;
    top: 100%; /* start at bottom of button */
    left: 0;
    width: 100%;
    height: 100%;
    background: #424242;
    transition: .5s;
    z-index: 2;
}

/* slide up on hover */
ul li a:hover:before {
    top: 0;
}